<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Gwangju Institution of Science and Technology B.S</li>
    <li>Electrical Engineering and Computer Science Major, Math Minor</li>
    <li>2306 Ellsworth St, Berkeley, CA</li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 (510) 365 0272</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:chayhyeon@gmail.com">chayhyeon@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://bkindtoevery1.github.io">https://bkindtoevery1.github.io</a></li>
  </ul>
</div>
